form,h1{
  display: flex;
  justify-content: center;
  align-items: center;

}
input{
  width:30vw;
  height:7vh;
  border: 1px solid black;
  margin:12px;
  border-radius: 5px;
}

img{
  width:200px;;
  height:200px;
  margin:10px;
  border-radius: 3px;
}
body{
  background-color: gray;
}